*{
    margin: 0;
    padding: 0;
}

/* nav style */
header{
    background-image: url(Assets/Hero-bg.png);
}
nav{
    display: flex;
    justify-content: space-between;
}
.navbar-section{
    margin: 30px;
    padding: 30px;
}
.logo{
    font-size: 34px;
    color: #4E47FF;
}
.btn-1{
    background-color:#4E47FF;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 132px;
    height: 48px;
    border: none;
    
}
.banner-section{
    margin-top: 400px;
    text-align: center;
    padding-bottom: 200px;
}

.btn-2{
     background-color:#4E47FF;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 174px;
    height: 48px;
    border: none;
}
.text-info{
    font-size: 65px;
    font-weight: bold;
    color: #252432;

}

